<!DOCTYPE HTML>
<! -- Экран о нас сайта -- >
<html>
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
{% extends "cap.html" %}
{% block functions %}
<h1 align="center">О нас:</h1>
<p align="center"><b>Этот сайт создан для классификации различных пород собак. Так же на нём есть тест,
    позволяющий подобрать подходящую для вас породу собак.</b></p>
{% endblock %}
</body>
</html>