<!DOCTYPE HTML>
<! -- Экран теста на сайте -- >
<html>
<head>
    <title>Тест: ваша собака</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
{% extends "cap.html" %}
{% block functions %}
<div class="container mt-5">
    <h1 align="center">Породы Европы</h1>
    {% for el in dogs_eu %}
    <div class="alert alert-info">
        {% for i in el %}
            {% if i in dogs_eu_phot %}
                <img src="{{ i }}">
            {% else %}
                <h2>{{ i }}</h2>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}
</body>
</html>