<!DOCTYPE HTML>
<! -- Экран помощи сайта -- >
<html>
<head>
    <title>Помощь</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
</head>
<body>
{% extends "cap.html" %}
{% block functions %}
<h1 align="center">Помощь:</h1>
<p align="center"><b>Оставь надежу всяк сюда входящий!</b></p>
<img src="static/images/photo.jpg">
{% endblock %}
</body>
</html>