<!DOCTYPE HTML>
<! -- Главный экран сайта -- >
<html>
<head>
    <title>Твоя собака</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
{% extends "cap.html" %}
{% block functions %}
<div class="container mt-5">
    <h1 align="center">Породы собак</h1>
    <p>В настоящее время в мире насчитывается около 400 пород собак!</p>
    <div class="alert alert-info">
        <li class="nav-item"><a href="/europa" class="alert alert-info" aria-current="page">Собаки Европы</a></li>
    </div>
</div>
{% endblock %}
</body>
</html>