<!DOCTYPE HTML>
<! -- Главный экран сайта -- >
<html>
<head>
    <title>Твоя собака</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/test" class="nav-link">Тест</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
        <li class="nav-item"><a href="/help" class="nav-link">Помощь</a></li>
      </ul>
    </header>
<h1 align="center">Породы собак</h1>
<p>В настоящее время в мире насчитывается около 400 пород собак!</p>
</body>
</html>