<!DOCTYPE HTML>
<! -- Экран ощибки входа на сайт -- >
<html>
<head>
    <title>Вход на сайт</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
{% extends "cap.html" %}
{% block functions %}
<div class="container mt-5">
    <h1>Вход</h1>
    <p style="color:red;font-weight:bold">Неверный логин или пароль</p>
    <form method="post">
        <input type="text" name="us_login" id="us_login" class="form-control" placeholder="Логин"><br>
        <input type="text" name="us_password" id="us_password" class="form-control" placeholder="Пароль"><br>
        <input type="submit" class="btn btn-success" value="Войти">
    </form>
</div>
{% endblock %}