<!DOCTYPE HTML>
<! -- Экран теста на сайте -- >
<html>
<head>
    <title>Тест: ваша собака</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
<header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="/test" class="nav-link">Тест</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">О нас</a></li>
        <li class="nav-item"><a href="/help" class="nav-link">Помощь</a></li>
      </ul>
    <form method="post">
      <input type="text" name="search" class="form-control" align="right" placeholder="Поиск собаки">
      <input type="submit" class="btn btn-success" value="Поиск" align="right">
    </form>
    </header>
<h1 align="center">Тест: Какой породы собака вам подходит?</h1>
<p align="center"><b>Скоро здесь будет тест!</b></p>
</body>
</html>